<a href="https://colab.research.google.com/github/dieguesmosken/Projetos_Python/blob/main/Codigo_Aula04__11_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### dia 11/05

In [10]:
num = int(input("Digite um número:"))
if num % 2 == 0:
    print(f"o numero: {num} é par")
else:
    print(f"o numero: {num} é impar")

Digite um número:1545
o numero: 1545 é impar

In [8]:
import math
a = 2
b = 4
c = -6
delta = math.pow(b, 2) - 4*a*c
   
x1 = (-b + math.sqrt(delta)) / (2.0*a) 
x2 = (-b - math.sqrt(delta)) / (2.0*a) 

print(f' as raizes da equação: {a}x²{b}x{c} são:')
print(f' x1: {x1} e x2: {x2}')

 as raizes da equação: 2x²4x-6 são:
 x1: 1.0 e x2: -3.0

In [22]:
#lista
lista = [1,2,3,4,5,6]
print(lista)
lista.append(7)
print(lista)
lista.insert(3, 3.5)
print(lista)
#para remover

lista.pop(3) # indica a posição posição
lista.remove(7) # especifica o valor a ser removido
print(lista)
del lista[0] # deleta um elemento na posição 0
print(lista)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 3.5, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]

In [20]:
#set
Set = {1,2,3,4,5,6}
print(Set)
Set.add(7)
print(Set)
Set.remove(3.5)
Set.discard(4.1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#Tupla
Set = {1,2,3,4,5,6}
print(Set)
Set.add(7)
print(Set)

In [28]:
#soma
soma_da_lista = sum(lista)
soma_do_set = sum(Set)
print(f'A soma da lista é {soma_da_lista}')
print(f'A soma do Set é {soma_do_set}')

A soma da lista é 21
A soma do Set é 28

In [34]:
#maximo e minimo
máximo_da_lista = max(lista)
mínimo_da_lista = min(lista)

máximo_do_set = max(Set)
mínimo_do_set = min(Set)

print(f'''O maior valor da lista é {máximo_da_lista}
e o menor valor da lista é {mínimo_da_lista}''')
print(f'O maior valor do Set é {máximo_do_set} \ne o menor valor do Set é {mínimo_do_set}')

O maior valor da lista é 6
e o menor valor da lista é 1
O maior valor do Set é 6
e o menor valor do Set é 1

In [33]:
lista = [1,2,3,4,5,6]
Set = {1,2,3,4,5,6}
print(f'A lista possui: {len(lista)} elementos')
print(f'O Set possui: {len(Set)} elementos')

A lista possui: 6 elementos
O Set possui: 6 elementos

In [41]:
listanum = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
#maximo e minimo
soma = sum(lista)
máximo = max(listanum)
mínimo = min(listanum)
print(f'A soma da lista é {soma}')
print(f'''O maior valor da lista é {máximo}
e o menor valor da lista é {mínimo}''')

for x in range(7):
    listanum.append(x+1)

print(listanum)

listanum.pop(0)
listanum.pop(2)
listanum.pop(7)

print(listanum)

A soma da lista é 8
O maior valor da lista é 15
e o menor valor da lista é 1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 1, 2, 3, 4, 5, 6, 7]
[2, 3, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 1, 2, 3, 4, 5, 6, 7]