<a href="https://colab.research.google.com/github/dieguesmosken/Projetos_Python/blob/main/Codigo_Aula02__09_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **09/05**
Revisão e novos conteúdos

* Tipos de Variáveis; 
* operadores: 
* matematicos,
* comparação, 
* lógicos, 
* identidade,
* associação

In [2]:
# foi criada uma variável chamada "var1" e atríbuido um valor
var1 = 23
print(var1)
# print serve para exibir o conteúdo

23

In [3]:
# descobrindo o tipo da variável
print(type(var1))

<class 'int'>

In [15]:
# para a variável valor insira um dado, e defina este dado como inteiro
valor = int(input("Insira algo:"))
print(type(valor))
# operação de soma do valor + 2
resultado = valor + 2
# exibindo o resultado formatado
print(f"o resultado é: {resultado}"+ " o valor é: "+str(valor))

Insira algo:10
<class 'int'>
o resultado é: 12 o valor é: 10

In [16]:
Nome = input("Insira um nome:")
print(f'Boa noite, {Nome}!')

Insira um nome:matheus
Boa noite, matheus!

In [18]:
'''as casas decimais podem
ser arredondadas com
string format'''
a = 7.779865
print(round(a,2))

7.78

In [27]:
"""valor1 = 10
valor2 = 5"""
valor1 = int(input("digite o valor 1: "))
valor2 = int(input("digite o valor 2: "))
#operação soma
soma = valor1+valor2
print(f'A soma das variáveis é {soma:.2f}')
#subtração
sub = valor1 - valor2
print(f'A subtração das variáveis é {sub}')
#Multiplicação
mult = valor1 * valor2
print(f'A Multiplicação das variáveis é {mult}')
#divisão
divi = valor1 / valor2
print(f'A Divisão das variáveis é {divi:.2f}')
divi2 = valor1 // valor2
print(f'O valor inteiro da divisão é {divi2:.2f}')
divi3 = valor1 % valor2
print(f'O resto da divisão é  {divi3}')

digite o valor 1: 100
digite o valor 2: 45
A soma das variáveis é 145.00
A subtração das variáveis é 55
A Multiplicação das variáveis é 4500
A Divisão das variáveis é 2.22
O valor inteiro da divisão é 2.00
O resto da divisão é  10

In [30]:
valor3 = 5
valor4 = 2
#potenciação
#result = pow(valor3, valor4)
result = valor3 ** valor4
print(f'O resultado da operação é: {result}')

O resultado da operação é: 25

In [41]:
#operadores de comparação
var1 = int(input("val1:"))
var2 = int(input("val2:"))
print(var1 != var2)

#operadores de lógicos
if var1 != var2:
  print("diferente")
else:
  print("igual")

val1:10
val2:10
False
igual

In [52]:
# operadores de associação
valor = int(input("informe um valor"))
# o valor
print(valor is 10)
print(valor is not 10)

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?

informe um valor30
False
True

<ipython-input-52-f8412360b5c3>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(valor is 10)
<ipython-input-52-f8412360b5c3>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(valor is not 10)

In [53]:
# lista de números
valores = [1,2,3,4,5,6,7,8,9,10]
print(20 in valores)
print(20 not in valores)

False
True